<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xmlns:p="http://www.springframework.org/schema/p"
	xmlns:aop="http://www.springframework.org/schema/aop" 
	xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
    	http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
    http://www.springframework.org/schema/tx
    	http://www.springframework.org/schema/tx/spring-tx-2.5.xsd
    http://www.springframework.org/schema/aop
    	http://www.springframework.org/schema/aop/spring-aop-2.5.xsd
    http://www.springframework.org/schema/context
    	http://www.springframework.org/schema/context/spring-context-2.5.xsd
    ">
	
	<bean id="constantValue" class="org.mc.protocol.config.ConstantValue"/>
	
	<!-- <bean id="qMThreadPool" class="org.protocol.mq.thread.QMThreadPool">
		<constructor-arg type="int" value="5"/> 
	</bean>-->
	<bean id="mqManagerABS" class="org.mc.protocol.mq.SandR.MqManagerABS" abstract="true"/>
	<bean id="product" class="org.mc.protocol.mq.product.IProduct"/>
	<bean id="mqIBMReceive" class="org.mc.protocol.mq.SandR.impl.MqIBMReceive" parent="mqManagerABS" depends-on="product"/>
	
	<bean id="qMThreadWorkTask" class="org.mc.protocol.mq.thread.QMThreadWorkTask">
		<p name="product" ref="mqIBMReceive"/>
	</bean>
	<!--  <bean id="iBizReceiver" class="org.protocol.biz.Interface.IBizReceiver"/>
	<bean id="BizmqReceiver" class="com.wcc.mqclient.MqClient" depends-on="iBizReceiver"/>-->
	 

</beans>